:root {
  --basic-font-family: "PT Sans", "Verdana", sans-serif;
  --special-font-family: "Cuprum", "Arial", sans-serif;
  --basic-black: #000000;
  --basic-dark-blue: #293449;
  --basic-blue: #32425c;
  --basic-green: #63a63e;
  --basic-red: #ee3643;
  --basic-light-gray: #f1f5f7;
  --basic-shadow-gray: rgba(0, 0, 0, 0.15);
  --basic-beige: #f7f3ec;
  --basic-light-beige: #f9f5f0;
  --basic-white: #ffffff;
  --special-transparent-black: rgba(0, 0, 0, 0.3);
  --special-active-blue: #1d2739;
  --special-menu-active-blue: #161d29;
  --specal-dark-blue: #212a3a;
  --special-hover-blue: #3d546f;
  --special-light-blue: #3bbce3;
  --special-active-green: #518534;
  --special-hover-green: #5fbb2d;
  --special-green: #8ed78f;
  --special-scale-green: #00ca74;
  --special-shadow-green: #367315;
  --special-hover-red: #ca2c37;
  --special-active-red: #ba2732;
  --special-modal-red: #ff5357;
  --special-shadow-red: #b52933;
  --special-active-shadow-red: #8d1e26;
  --special-purple: #dc91d8;
  --special-yellow: #ffbf47;
  --special-light-yellow: #ffd180;
  --special-active-yellow: rgba(255, 209, 128, 0.5);
  --special-very-dark-gray: #444444;
  --special-toggle-gray: #ababab;
  --special-dark-gray: #a9a9a9;
  --special-darker-gray: #b5b5b5;
  --special-active-darker-gray: rgba(50, 66, 92, 0.5);
  --special-active-gray: #c5c5c5;
  --special-scale-gray: #d7dcde;
  --special-gray: #e5e5e5;
  --special-transparent-gray: rgba(169, 169, 169, 0.3);
  --special-lighter-gray: #eaeaea;
  --special-active-lighter-gray: rgba(241, 245, 247, 0.5);
  --special-transparent-lighter-gray: rgba(197, 197, 197, 0.3);
  --special-one-more-gray: #f1f1f1;
  --special-light-gray: #f2f6f8;
  --special-modal-beige: #f4f4f4;
  --special-almost-white: #f3f7f9;
  --special-active-white: rgba(255, 255, 255, 0.5);
  --special-transparent-white: rgba(255, 255, 255, 0.3);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.center {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: var(--basic-font-family);
  font-weight: 400;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.main-header {
  display: grid;
  grid-template: "header-top" auto
                 "header-middle" 1fr
                 "header-bottom" auto / 100%;

  padding-bottom: 60px;

  font-family: var(--special-font-family);

  background-color: var(--special-almost-white);
}

.main-header-top {
  grid-area: header-top;

  background-color: var(--basic-dark-blue);
}

.main-header-top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  font-size: 18px;
  color: var(--basic-white);
}

.main-header-middle {
  grid-area: header-middle;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding-top: 44px;
  padding-bottom: 41px;
  padding-left: 39px;
}

.main-header-bottom {
  grid-area: header-bottom;

  font-size: 18px;
  color: var(--basic-white);
}

.main-content:not(.inner-page) {
  display: grid;

  padding-top: 59px;
  padding-bottom: 70px;
}

.inner-page > .center {
  display: grid;
  grid-template-columns: 220px auto;
  column-gap: 20px;

  padding-top: 21px;
}

.logo {
  display: block;

  background-color: var(--basic-red);
  box-shadow: 0 5px 0 var(--special-shadow-red);
}

.logo[href]:hover {
  background-color: var(--special-hover-red);
  box-shadow: 0 5px 0 var(--special-shadow-red);
}

.logo[href]:focus {
  background-color: var(--special-hover-red);
  box-shadow: 0 5px 0 var(--special-shadow-red);
}

.logo[href]:active {
  background-color: var(--special-active-red);
  box-shadow: 0 5px 0 var(--special-active-shadow-red);
}

.main-header-logo {
  padding: 12px 0;
  padding-left: 55px;
  width: 220px;
  height: 42px;
}

.search-form {
  position: relative;

  flex-grow: 1;

  width: 270px;
}

.search-field {
  width: 100%;
  padding: 9px 0;
  padding-left: 42px;

  background-color: var(--basic-dark-blue);
  border: none;

  cursor: pointer;
 }

 .search-field::placeholder {
  color: var(--basic-white);

  opacity: 1;
 }

 .search-field:hover + .search-button {
  color: var(--basic-white);
}

 .search-button {
  position: absolute;
  top: 10px;
  left: 17px;

  padding: 0;
  width: 17px;
  height: 17px;

  color: var(--special-transparent-white);

  border: none;
  background-color: var(--basic-dark-blue);

  cursor: pointer;
}

.search-button:hover {
  color: var(--basic-white);
}

.search-field:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.search-field:focus + .search-button {
  color: var(--basic-red);

  background-color: var(--basic-white);
}

.search-button:focus {
  color: var(--basic-white);
}

.bookmarks-link {
  position: relative;

  width: 163px;
  padding: 9px 0;
  padding-left: 43px;

  color: var(--basic-white);
}

.bookmarks-link::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 20px;

  width: 14px;
  height: 16px;

  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-size: 14px 16px;
  opacity: 0.3;
}

.bookmarks-link:hover::before {
  opacity: 1;
}

.bookmarks-link:focus::before {
  opacity: 1;
}

.bookmarks-link:active::before {
  opacity: 0.3;
}

.bookmarks-link:active {
  color: var(--special-active-white);

  background-color: var(--special-menu-active-blue);
}

.cart-link {
  position: relative;

  width: 136px;
  padding: 9px 0;
  padding-left: 36px;

  color: var(--basic-white);
}

.bookmarks-link.active {
  background-color: var(--basic-red);
}

.cart-link.active {
  background-color: var(--basic-red);
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icons/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  opacity: 0.3;
}

.cart-link:hover::before {
  opacity: 1;
}

.cart-link:focus::before {
  opacity: 1;
}

.cart-link:active::before {
  opacity: 0.3;
}

.cart-link:active {
  color: var(--special-active-white);

  background-color: var(--special-menu-active-blue);
}

.order-button {
  width: 150px;
  padding: 9px 0;

  color: var(--basic-white);
  text-align: center;

  background-color: var(--basic-green);
}

.order-button:hover {
  background-color: var(--special-hover-green);
}

.order-button:focus {
  background-color: var(--special-hover-green);
}

.order-button:active {
  background-color: var(--basic-green);
  color: var(--special-active-white);
}

.main-header-description {
  width: 204px;
  margin-right: auto;

  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.logged-in .main-header-description {
  margin-right: 93px;
}

.logged-in .main-header-address {
  padding-left: 10px;
}

.main-header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 270px;
  margin-right: 69px;
  padding-top: 1px;
}

.main-header-phone {
  position: relative;

  padding-left: 71px;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);

  border: 3px solid var(--basic-white);
}

.main-header-phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 36px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
  background-size: 19px 19px;
}

.main-header-address {
  margin: 0;

  font-size: 14px;
  color: var(--basic-blue);
  text-align: center;
}

.user-navigation {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.user-navigation.logged-in {
  width: 299px;
}

.main-header-middle.logged-in {
  padding-bottom: 39px;
}

.user-navigation-button {
  padding-top: 13px;
  padding-bottom: 12px;

  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.login-icon {
  position: absolute;
  left: 19px;
  top: 14px;
}

.user-navigation-button:hover {
  color: var(--basic-red);
}

.user-navigation-button:focus {
  color: var(--basic-red);
}

.user-navigation-button:hover .user-navigation-icon {
  color: var(--special-hover-blue);
}

.user-navigation-button:focus .user-navigation-icon {
  color: var(--special-hover-blue);
}

.user-navigation-button:active {
  color: var(--special-active-gray);
}

.user-navigation-button:active .user-navigation-icon {
  color: var(--special-active-gray);
}

.user-navigation-icon {
  color: var(--special-active-gray);
}

.user-navigation-icon:hover {
  color: var(--special-hover-blue);
}

.user-navigation-icon:focus {
  color: var(--special-hover-blue);
}

.login-button {
  width: 121px;
  margin-right: 10px;
  padding-left: 45px;
}

.registration-button {
  width: 150px;

  text-align: center;
}

.profile-button {
  padding-left: 47px;
}

.profile-icon {
  position: absolute;
  left: 6px;
  top: 15px;
}

.logout-button {
  display: block;
  width: 48px;
  height: 45px;
  padding: 14px;
  padding-left: 21px;

  background-color: var(--basic-white);
}

.logout-icon {
  color: var(--special-active-gray);
}

.logout-button:hover .logout-icon {
  color: var(--special-hover-blue);
}

.logout-button:focus .logout-icon {
  color: var(--special-hover-blue);
}

.logout-button:active .logout-icon {
  color: var(--special-active-gray);
}

.profile-button:hover {
  color: var(--basic-black);
}

.profile-button:focus {
  color: var(--basic-black);
}

.profile-button:active {
  color: var(--special-active-gray);
}

.profile-navigation {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  margin-top: 5px;
  padding-left: 36px;
}

.profile-navigation-item:first-child {
  margin-right: 30px;
}

.profile-navigation-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.profile-navigation-button:hover {
  color: var(--basic-red);
}

.profile-navigation-button:focus {
  color: var(--basic-red);
}

.profile-navigation-button:active {
  color: var(--special-active-gray);
}

.main-navigation {
  background-color: var(--basic-blue);
}

.site-navigation {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-left: 22px;

  box-shadow: inset 0 -5px 0 var(--basic-dark-blue);
}

.site-navigation-link {
  display: block;
  padding: 0 29px;
  padding-top: 16px;
  padding-bottom: 20px;

  color: var(--basic-white);

  background-color: var(--basic-blue);
  box-shadow: inset 0 -5px 0 var(--basic-dark-blue);
}

.site-navigation-link[href]:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation-link[href]:focus {
  background-color: var(--basic-dark-blue);
}

.site-navigation-link[href]:active {
  background-color: var(--special-active-blue);
  color: var(--special-active-white);
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;

  padding-bottom: 59px;

  font-family: var(--special-font-family);
  color: var(--basic-white);
}

.slider {
  position: relative;

  grid-column: 1 / 3;
  grid-row: 2 / -1;
}

.slider-pagination {
  position: absolute;
  left: 295px;
  bottom: 36px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider-pagination-button {
  width: 10px;
  height: 10px;
  padding: 0;

  border: 1px solid var(--basic-black);
  background-color: var(--basic-white);
  border-radius: 50%;

  cursor: pointer;
}

.slider-pagination-button:first-child {
  margin-right: 10px;
}

.slider-pagination-button.current {
  border: 2px solid var(--basic-white);
  background-color: var(--basic-red);
}

.categories-title {
  margin: 0;
  margin-bottom: 14px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.sale .categories-title {
  margin-bottom: 11px;
}

.button {
  display: block;
  line-height: 18px;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;

  color: var(--basic-white);
  font-family: var(--special-font-family);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--basic-red);
  border: none;
}

.button:hover {
  background-color: var(--special-hover-red);
}

.button:focus {
  background-color: var(--special-hover-red);
}

.button:active {
  background-color: var(--special-active-red);
}

.categories-item {
  position: relative;

  padding-top: 20px;
  padding-left: 22px;

  background-repeat: no-repeat;
  background-position: 86% 50%;
}

.categories-item.new::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 65px;
  height: 64px;

  background-image: url(../img/icons/category-new.svg);
  background-repeat: no-repeat;
  background-size: 65px 64px;
}

.categories-item-link {
  display: block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;

  background-color: var(--special-transparent-white);
}

.categories-item-link:hover {
  background-color: var(--special-transparent-lighter-gray);
}

.categories-item-link:focus {
  background-color: var(--special-transparent-lighter-gray);
}

.categories-item-link:active {
  background-color: var(--special-transparent-gray);
}

.slider-title {
  margin: 0;
  margin-bottom: 7px;

  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-item-description {
  margin: 0;

  font-size: 18px;
}

.slider-item-button {
  margin-top: auto;
  margin-bottom: 27px;
}

.materials {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-1.svg");
  background-size: 44px 65px;
  background-position: 83% 52%;
}

.tools {
  background-color: var(--special-light-blue);
  background-image: url("../img/icons/icon-2.svg");
  background-size: 75px 61px;
  background-position: 86% 55%;
}

.equipment {
  background-color: var(--special-purple);
  background-image: url("../img/icons/icon-3.svg");
  background-size: 78px 62px;
}

.sale {
  background-color: var(--special-green);
  background-image: url("../img/icons/icon-4.svg");
  background-size: 59px 72px;
  background-position: 81% 51%;
}

.delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-5.svg");
  background-size: 78px 63px;
  background-position: 86% 51%;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 266px;
  padding-top: 23px;
  padding-left: 24px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.perforators {
  background-image: url("../img/slider/perforators.jpg");
  background-size: 620px 266px;
  background-color: var(--special-dark-gray);
}

.drills {
  background-image: url("../img/slider/drills.jpg");
  background-size: 620px 266px;
  background-color: var(--special-very-dark-gray);
}

.slider-controls-button {
  position: absolute;

  width: 22px;
  height: 40px;

  background-color: transparent;
  background-image: url(../img/icons/icon-left.svg);
  background-repeat: no-repeat;
  background-size: 22px 40px;
  border: none;

  cursor: pointer;
}

.slider-controls-button:hover {
  opacity: 0.5;
}

.slider-controls-button:focus {
  opacity: 0.5;
}

.slider-controls-button:active {
  opacity: 0.3;
}

.slider-back-button {
  top: 122px;
  left: 24px;
}

.slider-forward-button {
  top: 122px;
  right: 20px;

  transform: rotate(180deg);
}

.section-header {
  flex-grow: 1;

  margin: 0;
  padding: 0;

  font-family: var(--special-font-family);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  letter-spacing: -0.7px;
}

.popular-products-button {
  margin-top: 1px;
}

.section-header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding: 24px 19px 24px 28px;

  background-color: var(--basic-light-beige);
}

.section-header-wrapper .section-header {
  width: 65%;
  padding-right: 95px;
}

.section-header-wrapper.popular-products {
  padding-right: 14px;
}

.popular-products-list {
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 53px;
}

.popular-products-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.popular-products-item:first-child .catalog-image-wrapper {
  padding-left: 11px;
  padding-top: 4px;
}

.popular-products-item:last-child .catalog-item {
  margin-right: 0;
}

.catalog-item .button {
  border-radius: 2px;
}

.buy-button {
  position: relative;


  width: 135px;
  padding-left: 6px;
  margin: 0 auto;
  margin-bottom: 10px;

  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--special-shadow-green);
  border-radius: 2px;
}

.buy-button::before {
  content: "";

  position: absolute;
  left: 30px;
  top: 10px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icons/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  opacity: 0.3;
}

.buy-button:hover {
  background-color: var(--special-hover-green);
}

.buy-button:focus {
  background-color: var(--special-hover-green);
}

.buy-button:active {
  background-color: var(--special-active-green);
}

.bookmark-button {
  width: 135px;
  padding-top: 8px;
  padding-bottom: 6px;
  margin: 0 auto;

  color: var(--basic-blue);

  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  border-radius: 2px;
}

.bookmark-button:hover {
  background-color: var(--basic-white);
  border-color: var(--basic-blue);
}

.bookmark-button:focus {
  background-color: var(--basic-white);
  border-color: var(--basic-blue);
}

.bookmark-button:active {
  color: var(--special-active-darker-gray);

  background-color: var(--basic-white);
  border-color: var(--special-active-darker-gray);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.catalog-item {
  position: relative;

  display: grid;
  grid-template: 1fr repeat(4, auto) / 1fr;

  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 17px;
  padding-bottom: 4px;

  text-align: center;

  border: 1px solid var(--special-lighter-gray);
}

.catalog-item.new::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 70px;
  height: 70px;

  background-image: url(../img/icons/catalog-new.svg);
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-image-wrapper {
  grid-row: 1 / 3;
  grid-column: 1 / -1;

  display: flex;

  width: 220px;
  height: 170px;
  padding-right: 12px;
}

.catalog-item-image {
  margin: auto;

  background-color: var(--basic-white);
  object-fit: contain;
}

.catalog-item-actions {
  grid-row: 1 / 3;
  grid-column: 1 / -1;
  z-index: -1;

  width: 100%;
  min-height: 170px;
  padding-top: 38px;

  background-color: var(--basic-white);
  opacity: 0;

}

.catalog-item:hover {
  box-shadow: 0 4px 20px var(--basic-shadow-gray);
}

.catalog-item:hover .catalog-item-actions {
  z-index: 1;

  opacity: 1;
}

.catalog-item-actions:focus-within {
  z-index: 1;

  opacity: 1;
}

.catalog-item-heading {
  margin: 0;
  margin-bottom: 4px;
  padding: 0 18px;
  padding-top: 8px;
  padding-left: 16px;

  line-height: 22px;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-item-price-old {
  margin-bottom: 9px;

  text-transform: uppercase;
  color: var(--special-dark-gray);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item-price {
  position: relative;

  width: 122px;
  padding: 10px 21px 10px 32px;
  margin-left: 46px;
  margin-right: 55px;
  margin-top: 6px;

  color: var(--basic-white);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;


  background-color: var(--basic-red);
}

.catalog-item-price::after {
  content: "";

  position: absolute;
  right: -37px;
  top: 0;

  border: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
}

.brands-list {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 50px;
}

.brands-item {
  display: flex;

  width: calc((100% - 60px) / 4);
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: 145px;

  border: 1px solid var(--special-lighter-gray);
}

.brands-item:nth-child(2) .brands-link {
  padding-bottom: 5px;
}

.brands-item:nth-child(3) .brands-link {
  padding-bottom: 5px;
}

.brands-item:nth-child(4) .brands-link {
  padding-bottom: 13px;
}


.brands-link:hover {
  box-shadow: 0 4px 20px var(--basic-shadow-gray);
}

.brands-link:focus {
  box-shadow: 0 4px 20px var(--basic-shadow-gray);
}

.brands-link:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px var(--basic-shadow-gray);
}

.brands-link {
  display: flex;

  width: 100%;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brands-image {
  margin: auto;
}

.section-header.alternative {
  color: var(--basic-black);
}

.services {
  padding-top: 65px;

  background-color: var(--basic-light-gray);
}

.services-description {
  width: 395px;
  margin-top: 25px;
  margin-bottom: 70px;
}

.perforators-intro {
  grid-column: 1 / -1;

  padding-top: 62px;
  padding-bottom: 67px;

  background-color: var(--basic-light-gray);
}

.perforators-intro-text {
  margin: 0;
  margin-top: 24px;
  line-height: 26px;
}

.services-slider {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.services-slider-list {
  list-style: none;

  position: relative;

  margin: 0;
  padding: 0;
  margin-right: 80px;
  width: 240px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-shrink: 0;
}

.services-slider-list::after {
  content: "";

  position: absolute;
  top: -40px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/services/line.png);
  background-repeat: no-repeat;
  background-size: 10px 279px;

}

.services-slider-button {
  padding: 0;
  width: 100%;
  margin-bottom: 1px;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 17px;

  font-family: var(--special-font-family);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: var(--basic-white);

  border: none;
  background-color: var(--basic-blue);
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;

  cursor: pointer;
}

.services-slider-button:hover {
  background-color: var(--basic-dark-blue);
}

.services-slider-button:focus {
  background-color: var(--basic-dark-blue);
}

.services-slider-button.active {
  color: var(--basic-blue);

  background-color: var(--basic-white);
  box-shadow: 0 1px 0 #FFFFFF;
}

.services-slider-item {
  flex-grow: 1;

  width: calc(100% / 3 * 2);
  min-height: 283px;

  background-repeat: no-repeat;
}

.service-type-description {
  width: 283px;
  margin: 0;
  margin-top: 28px;
  padding: 0;
}

.service-type-description:last-of-type {
  margin-top: 0;
}

.services-delivery .service-type-description:last-of-type {
  width: 225px;
}

.service-type-description.warranty {
  margin-top: 23px;
  width: 313px;
}

.service-type-description.loans {
  margin-bottom: 25px;
}

.service-type-description.loans:first-of-type {
  margin-bottom: 0;
}

.loans-button {
  width: 195px;

  border-radius: 2px;
}

.services-delivery {
  background-image: url("../img/services/delivery.png");
  background-size: 468px 261px;
  background-position: top 21px right 1px;
}

.services-warranty {
  background-image: url("../img/services/warranty.png");
  background-size: 389px 283px;
  background-position: top -2px right -8px;
}

.services-loans {
  background-image: url("../img/services/loans.png");
  background-size: 465px 285px;
  background-position: top -1px right -10px;
}

.index-columns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding-top: 73px;
}

.about-us {
  width: 50%;
  margin-right: auto;
}

.about-us-text {
  margin: 0;
  margin-bottom: 3px;
}

.about-us-desc {
  margin-top: 24px;
  margin-bottom: 25px;
}

.about-us-button {
  width: 220px;
}

.contacts {
  width: calc(100% / 3 - 13px);
}

.contacts-text {
  width: 180px;
  margin-top: 24px;
  margin-bottom: 32px;
  min-height: 49px;
}

.contacts-map {
  display: block;
  width: 100%;
  height: 158px;
  margin-bottom: 25px;
}

.contacts-button {
  width: 100%;
}

.partners-list {
  list-style: none;

  padding: 0;
  margin: 0;

  font-family: var(--special-font-family);
  font-size: 18px;
}

.partners-list-item {
  position: relative;

  margin-bottom: 12px;
  padding-left: 37px;
}

.partners-list-item:last-child {
  margin-bottom: 20px;
}

.partners-list-item::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: var(--basic-red);

}

.breadcrumbs {
  list-style: none;

  grid-column: 1 / -1;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;
  padding-bottom: 14px;
  margin-top: -4px;
}

.breadcrumbs-link {
  color: var(--basic-black);
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs .homepage::before {
  content: url("../img/icons/icon-home.svg");
}

.breadcrumbs-item {
  position: relative;

  margin-right: 41px;
}

.breadcrumbs-item:after {
  content: url("../img/icons/icon-right-small.svg");

  position: absolute;
  right: -25px;

  width: 8px;
  height: 12px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.main-heading {
  grid-column: 1 / -1;

  margin: 0;
  padding: 33px 0 30px 29px;
  margin-bottom: 20px;

  font-family: var(--special-font-family);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  letter-spacing: -0.7px;

  background-color: var(--special-light-gray);

}

.filter {
  line-height: 18px;
  text-transform: uppercase;
}

.sort-and-filter {
  padding-bottom: 59px;
}

.sort-and-filter-title {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.filter-title {
  width: 100%;
  padding: 10px 0;
  padding-left: 18px;
  margin-bottom: 14px;

  background-color: var(--basic-beige);
  border-radius: 2px;
}

.sort-title {
  margin-right: 140px;
}

.filter-form {
  margin: 0;
  padding: 0;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-top: 11px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: var(--basic-beige);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background-color: var(--special-scale-gray);
}

.range-controls .bar {
  width: 85%;
  height: 2px;

  background-color: var(--special-scale-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  padding: 0;
  width: 20px;
  height: 20px;

  background-color: var(--special-toggle-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px var(--basic-shadow-gray);

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter-fieldset {
  position: relative;

  margin: 0;
  padding: 0;
  width: 220px;

  border: none;
}

.filter-fieldset:not(:last-of-type)::after {
  content: "";

  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;

  border: 1px solid var(--special-gray);
}

.fieldset-price {
  padding-bottom: 25px;
  margin-bottom: 16px;
}

.fieldset-brands {
  padding-bottom: 25px;
  margin-bottom: 18px;
}

.fieldset-power {
  margin-bottom: 36px;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 2px;
}

.filter-field {
  background-color: var(--basic-beige);
  border-radius: 2px;
}

.filter-field.number {
  width: 95px;
  margin: 0;
  padding: 10px 0;
  padding-left: 15px;
  padding-top: 7px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: none;
}

.price-controls {
  display: flex;
}

.price-controls-dash {
  margin: auto;
}

.filter-label {
  position: relative;

  padding-left: 35px;

  font-size: 15px;
  line-height: 19px;

  cursor: pointer;
}

.filter-brands {
  list-style: none;
}

.filter-brands-item {
  margin-top: 15px;
}

.filter-brands-item:not(:last-child) {
  margin-bottom: 20px;
}

.filter-brands-checkbox + .filter-label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 23px;
  height: 23px;

  border: 2px solid var(--special-active-gray);
  border-radius: 3px;
}

.filter-brands-checkbox:checked + .filter-label::before {
  width: 26px;

  border: none;
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: 26px 23px;
}

.filter-brands-checkbox:hover + .filter-label::before {
  border: 2px solid var(--special-darker-gray);
}

.filter-brands-checkbox:checked:hover + .filter-label::before {
  border: none;
  background-image: url(../img/icons/checkbox-on-hover.svg);
  background-repeat: no-repeat;
  background-size: 26px 23px;
}

.filter-brands-checkbox:focus + .filter-label::before {
  border: 2px solid var(--special-darker-gray);
}

.filter-brands-checkbox:checked:focus + .filter-label::before {
  border: none;
  background-image: url(../img/icons/checkbox-on-hover.svg);
  background-repeat: no-repeat;
  background-size: 26px 23px;
}

.filter-brands-checkbox:disabled + .filter-label::before {
  border: 2px solid var(--special-darker-gray);
  opacity: 0.3;
}

.filter-brands-checkbox:checked:disabled + .filter-label::before {
  border: none;
  background-image: url(../img/icons/checkbox-on-hover.svg);
  background-repeat: no-repeat;
  background-size: 26px 23px;
  opacity: 0.3;
}

.filter-power-item {
  margin-top: 22px;
}

.filter-power-item:not(:last-child) {
  margin-bottom: 20px;
}

.filter-power-radio + .filter-label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 25px;
  height: 25px;

  border: 4px solid var(--special-active-gray);
  border-radius: 50%;
}

.filter-power-radio:checked + .filter-label::after {
  content: "";

  position: absolute;
  left: 8px;
  top: 8px;

  width: 9px;
  height: 9px;

  background-color: var(--special-active-gray);
  border-radius: 50%;
}

.filter-power-radio:hover + .filter-label::before {
  border-color: var(--special-darker-gray);
}

.filter-power-radio:checked:hover + .filter-label::after {
  background-color: var(--special-darker-gray);
}

.filter-power-radio:focus + .filter-label::before {
  border-color: var(--special-darker-gray);
}

.filter-power-radio:checked:focus + .filter-label::after {
  background-color: var(--special-darker-gray);
}

.filter-power-radio:disabled + .filter-label::before {
  border-color: var(--special-darker-gray);
  opacity: 0.3;
}

.filter-power-radio:checked:disabled + .filter-label::after {
  background-color: var(--special-darker-gray);
  opacity: 0.3;
}

.filter-power {
  list-style: none;
}

.filter-power-radio::before {
  content: url("../img/icons/radio-off.svg");
}

.show-button {
  width: 100%;
  padding: 10px 0;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;

  background-color: var(--basic-white);
  border: 1px solid var(--special-gray);

  cursor: pointer;
}

.show-button:hover {
  border-color: var(--special-active-gray);
}

.show-button:focus {
  border-color: var(--special-active-gray);
}

.show-button:active {
  border-color: var(--basic-red);
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px 16px 10px 20px;
  margin-bottom: 28px;

  background-color: var(--basic-beige);
  border-radius: 2px;
}

.sort-list {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  width: calc(100% / 3 * 2);
  margin: 0;
  padding: 0;
}

.sort-list-item {
  margin-right: 70px;
}

.sort-list-item:nth-child(2) {
  margin-right: 65px;
}

.sort-list-item:nth-child(3) {
  margin-right: 47px;
}

.sort-list-item:nth-child(4) {
  margin-right: 18px;
}

.sort-list-item:last-child {
  margin-right: 0;
}

.sort-button {
  display: block;
  margin: 0;
  padding: 0;

  line-height: 17px;
  text-transform: uppercase;
  color: var(--special-transparent-black);

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted var(--basic-red);

  cursor: pointer;
}

.sort-button:hover {
  color: var(--basic-black);

  border-bottom: 1px solid var(--basic-red);
}

.sort-button:focus {
  color: var(--basic-black);

  border-bottom: 1px solid var(--basic-red);
}

.sort-button:active {
  color: var(--basic-red);

  border-bottom: none;
}

.sort-button.active {
  color: var(--basic-red);

  border-bottom: none;
}

.sort-order {
  color: var(--special-active-gray);

  border: none;
}

.sort-order:hover {
  color: var(--basic-black);

  border: none;
}

.sort-order:focus {
  color: var(--basic-black);

  border: none;
}

.sort-order:active {
  color: var(--basic-red);
}

.sort-order.active {
  color: var(--basic-red);
}

.sort-order.descending {
  transform: rotate(180deg);
}

.catalog-pagination {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  padding: 0;
}

.catalog-pagination-item {
  margin: 0;
  width: 38px;
  margin-right: 10px;

  text-align: center;
}

.catalog-pagination-item .next {
  width: 140px;
}

.catalog-pagination-button {
  width: 100%;
  padding: 10px 0;

  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid var(--special-gray);
  border-radius: 2px;
  background-color: var(--basic-white);

  cursor: pointer;
}

.catalog-pagination-button:hover {
  border-color: var(--special-active-gray);
}

.catalog-pagination-button:focus {
  border-color: var(--special-active-gray);
}

.catalog-pagination-button:active {
  border-color: var(--basic-red);
}

.catalog-pagination-button.active {
  color: var(--basic-white);

  background-color: var(--basic-red);
  border: none;
}

.main-footer {
  font-family: var(--special-font-family);

  background-color: var(--basic-blue);
}

.main-footer-logo {
  width: 220px;
  height: 62px;
  padding: 20px 0;
  padding-left: 41px;
  margin-right: 173px;
  margin-bottom: 28px;
}

.footer-bottom {
  background-color: var(--basic-dark-blue);
}

.footer-bottom-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding-right: 14px;
  padding-bottom: 30px;
  padding-top: 35px;

  font-size: 16px;
  line-height: 18px;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;

  padding-bottom: 54px;

  font-size: 18px;
}

.footer-site-navigation {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;

  margin: 0;
  padding: 0;
}

.footer-site-navigation-item {
  flex-grow: 1;

  margin-right: 58px;
  margin-bottom: 29px;
}

.footer-site-navigation-item:last-child {
  margin-right: 0;
}

.footer-site-navigation-link {
  color: var(--basic-light-gray);
}

.footer-site-navigation-link[href]:hover {
  text-decoration: underline;
}

.footer-site-navigation-link[href]:focus {
  text-decoration: underline;
}

.footer-site-navigation-link[href]:active {
  text-decoration: none;
  color: var(--special-active-lighter-gray);
}

.footer-contacts {
  width: 322px;
  margin: 0;
  margin-right: 89px;
  margin-left: 3px;

  color: var(--special-almost-white);
}

.footer-additional-navigation {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;

  margin: 0;
  padding: 0;
  margin-top: 4px;
}

.footer-additional-navigation-item {
  flex-grow: 1;

  margin-right: 60px;
}

.footer-additional-navigation-item:last-child {
  margin-right: 0;
}

.footer-additional-navigation-link {
  color: var(--special-light-yellow);
}

.footer-additional-navigation-link:hover {
  text-decoration: underline;
}

.footer-additional-navigation-link:focus {
  text-decoration: underline;
}

.footer-additional-navigation-link:active {
  text-decoration: none;
  color: var(--special-active-yellow);
}

.footer-copyright {
  margin: 0;
  color: var(--basic-white);
  width: 227px;
  margin-right: 161px;
}

.footer-social {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;
  margin-right: 118px;
  padding: 0;
}

.footer-social-item {
  width: 44px;
  margin-right: 1px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  display: flex;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--specal-dark-blue);
}

.social-button::before {
  margin: auto;
}

.social-button:hover {
  background-color: var(--basic-red);
}

.social-button:focus {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-red);
}

.vk::before {
  content: url(../img/icons/icon-vk.svg);
}

.facebook::before {
  content: url(../img/icons/icon-fb.svg);
}

.instagram::before {
  content: url(../img/icons/icon-insta.svg);
}

.footer-feedback {
  margin: 0;
  width: 137px;
  margin-right: 51px;

  color: var(--basic-white);
}

.footer-feedback-link {
  color: var(--special-light-yellow);
}

.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:focus {
  text-decoration: underline;
}

.footer-feedback-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-developer {
  margin: 0;
  width: 98px;

  color: var(--basic-white);
}

.footer-developer-link {
  color: var(--special-light-yellow);
}

.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-developer-link:focus {
  text-decoration: underline;
}

.footer-developer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  margin: auto;

  border-top: 7px solid var(--special-modal-red);
  background-color: var(--basic-white);
}

.modal-show {
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-contact-us {
  bottom: auto;
  top: calc(50vh - 215px);

  width: 620px;
  padding-top: 39px;

  box-shadow: 0 4px 20px var(--basic-shadow-gray);
}

.modal-map {
  bottom: auto;
  top: calc(50vh - 225px);

  width: 943px;
  height: 449px;

  background-color: var(--basic-beige);
}

.modal-map-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 449px;
}

.modal-map-container {
  position: relative;
  z-index: 2;

  width: 100%;
  height: 449px;
}

.modal-added-to-cart {
  top: calc(50vh - 140px);
  bottom: auto;
  left: 30px;

  width: 620px;
}

.modal-center {
  padding: 0 80px;
}

.close-button {
  position: absolute;

  padding: 0;
  width: 21px;
  height: 21px;

  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  border: none;
  background-color: transparent;
}

.feedback-fieldset {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.feedback-name {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin-right: 20px;
  margin-bottom: 14px;
}

.feedback-email {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin-right: 0;
}

.feedback-text {
  display: flex;
  flex-direction: column;
  flex-grow: 0;

  width: 100%;
  margin-bottom: 37px;
}

.feedback-text .contact-us-label {
  width: 100%;
}

.feedback-text .contact-us-field {
  min-height: 114px;
}

.feedback-footer {
  padding: 37px 80px;

  background-color: var(--special-modal-beige);
}

.feedback-submit-button {
  width: 100%;
}

.feedback-close-button {
  right: 11px;
  top: 14px;
}

.contact-us-label {
  margin-bottom: 12px;

  font-family: var(--special-font-family);
  font-size: 18px;
}

.contact-us-field {
  padding: 7px 0;
  padding-left: 12px;

  color: var(--special-dark-gray);

  border: 2px solid var(--special-active-gray);

}

.contact-us-field::placeholder {
  color: var(--special-dark-gray);
}

.map-close-button {
  right: 10px;
  top: 11px;
  z-index: 3;
}

.added-to-cart-message {
  padding-left: 177px;
  margin-top: 66px;
  margin-bottom: 67px;

  font-family: var(--special-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);

}

.added-to-cart-message::before {
  content: "";

  position: absolute;
  top: 48px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url(../img/icons/icon-mark.svg);
  background-repeat: no-repeat;
  background-size: 66px 66px;
}

.button-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding: 37px 113px;

  background-color: var(--special-one-more-gray);
}

.model-order-button {
  margin-right: 10px;
}

.continue-button {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.continue-button:hover {
  color: var(--special-transparent-black);

  background-color: var(--basic-white);
}

.continue-button:focus {
  color: var(--special-transparent-black);

  background-color: var(--basic-white);
}

.continue-button:active {
  background-color: var(--basic-white);
}

.cart-close-button {
  top: 12px;
  right: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
